In [89]:
import pandas as pd

In [101]:
left_table = pd.DataFrame(
    data={
        'ID': [1, 2, 3, 4],
        'VALUE': ['LEFT 1', 'LEFT 2', 'LEFT 3', 'LEFT 4']
    }
)
right_table = pd.DataFrame(
data={
        'ID': [1, 4, 5, 6],
        'VALUE': ['RIGHT 1', 'RIGHT 2', 'RIGHT 3', 'RIGHT 4']
    }
)

In [102]:
# INNER JOIN

left_table.merge(right_table, on='ID')

   ID VALUE_x  VALUE_y
0   1  LEFT 1  RIGHT 1
1   4  LEFT 4  RIGHT 2

In [103]:
#SELF JOIN

left_table.merge(left_table, on='ID')

   ID VALUE_x VALUE_y
0   1  LEFT 1  LEFT 1
1   2  LEFT 2  LEFT 2
2   3  LEFT 3  LEFT 3
3   4  LEFT 4  LEFT 4

In [104]:
# LEFT JOIN

left_table.merge(right_table, how='left', on='ID')

   ID VALUE_x  VALUE_y
0   1  LEFT 1  RIGHT 1
1   2  LEFT 2      NaN
2   3  LEFT 3      NaN
3   4  LEFT 4  RIGHT 2

In [105]:
# RIGHT JOIN

left_table.merge(right_table, how='right', on='ID')

   ID VALUE_x  VALUE_y
0   1  LEFT 1  RIGHT 1
1   4  LEFT 4  RIGHT 2
2   5     NaN  RIGHT 3
3   6     NaN  RIGHT 4

In [106]:
# FULL JOIN

left_table.merge(right_table, how='outer', on='ID')

   ID VALUE_x  VALUE_y
0   1  LEFT 1  RIGHT 1
1   2  LEFT 2      NaN
2   3  LEFT 3      NaN
3   4  LEFT 4  RIGHT 2
4   5     NaN  RIGHT 3
5   6     NaN  RIGHT 4

In [109]:
left_table = pd.DataFrame(
    data={
        'ID': [1, 2, 3, 4],
        'VALUE': ['VALUE 1', 'VALUE 2', 'VALUE 3', 'VALUE 4']
    }
)
right_table = pd.DataFrame(
    data={
        'ID': [1, 4, 5, 6],
        'VALUE': ['VALUE 1', 'VALUE 2', 'VALUE 3', 'VALUE 4']
    }
)

In [110]:
# UNION ALL

pd.concat([left_table, right_table], ignore_index=True)

   ID    VALUE
0   1  VALUE 1
1   2  VALUE 2
2   3  VALUE 3
3   4  VALUE 4
4   1  VALUE 1
5   4  VALUE 2
6   5  VALUE 3
7   6  VALUE 4

In [111]:
# UNION

pd.concat([left_table, right_table], ignore_index=True).drop_duplicates()

   ID    VALUE
0   1  VALUE 1
1   2  VALUE 2
2   3  VALUE 3
3   4  VALUE 4
5   4  VALUE 2
6   5  VALUE 3
7   6  VALUE 4

In [112]:
# INTERSECT

left_table.merge(right_table, how='inner')

   ID    VALUE
0   1  VALUE 1

In [114]:
# EXCEPT

intersect = left_table.merge(right_table, how='inner')
pd.concat([left_table, intersect]).drop_duplicates(keep=False)

   ID    VALUE
1   2  VALUE 2
2   3  VALUE 3
3   4  VALUE 4

In [115]:
left_table = pd.DataFrame(
    data={
        'ID': [1, 2, 3, 4],
        'VALUE': ['VALUE 1', 'VALUE 2', 'VALUE 3', 'VALUE 4']
    }
)
right_table = pd.DataFrame(
    data={
        'VALUE': ['VALUE 2', 'VALUE 3']
    }
)

In [116]:
outer = left_table.merge(right_table, on='VALUE', how='outer', indicator=True)
semi = outer.query('_merge == "both"').drop(columns='_merge')
semi

   ID    VALUE
1   2  VALUE 2
2   3  VALUE 3

In [ ]:
outer = left_table.merge(right_table, on='VALUE', how='outer', indicator=True)
anti = outer.query('_merge != "both"').drop(columns='_merge')
anti